@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/DroidKufi-Regular.eot);
    src: url(../fonts/DroidKufi-Regulard41d.eot?#iefix) format('embedded-opentype'),
    url(../fonts/DroidKufi-Regular.html) format('woff2'),
    url(../fonts/DroidKufi-Regular.woff) format('woff'),
    url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Droid Arabic Kufi';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DroidKufi-Bold.eot);
    src: url(../fonts/DroidKufi-Boldd41d.eot?#iefix) format('embedded-opentype'),
    url(../fonts/DroidKufi-Bold.html) format('woff2'),
    url(../fonts/DroidKufi-Bold.woff) format('woff'),
    url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}

.floating-right
{
    float: right;
}
.floating-left
{
    float: left;
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.text-center
{
    text-align: center;
}
.display-block
{
    display: block;
    overflow: hidden;
}
.display-inline-block
{
    display: inline-block;
    overflow: hidden;
}
.clear
{
    clear: both;
}
a
{
    border: none;
    text-decoration: none;
    cursor: pointer;
}
*,a,
a:focus {
    outline: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Droid Arabic Kufi';
    text-align: center;
}
.main-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/bg.jpg") no-repeat center;
    background-size: 100% 100%;
}
.inner-container
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.inner-app
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.home-btn
{
    display: none;
    overflow: hidden;
    width: 5.762%;
    height: 5.34%;
    position: absolute;
    top: 4.688%;
    left: 6.836%;
    background: url("../images/home.svg") no-repeat center;
    background-size: 100% 100%;
    z-index: 9999;
}
.title-logo
{
    display: block;
    overflow: hidden;
    width: 18.946%;
    height: 18.36%;
    position: absolute;
    top: 4%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/title-logo.svg") no-repeat center;
    background-size: 100% 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next,
.swiper-button-prev
{
    display: block;
    overflow: hidden;
    width: 7.833%;
    height: 6.54%;
    position: absolute;
    bottom: -11.2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.swiper-button-next
{
    right: auto !important;
    top: auto !important;
    left: 38.658% !important;
    background-image: url("../images/prev.svg") !important;
}
.swiper-button-prev
{
    left: auto !important;
    top: auto !important;
    right: 38.658% !important;
    background-image: url("../images/next.svg") !important;
}
.slider-container
{
    display: block;
    overflow: visible;
    width: 85.547%;
    height: 72.527%;
    position: absolute;
    top: 13.6%;
    left: 0;
    right: 0;
    margin: auto;
}
.introduction-container
{
    display: block;
    overflow: visible;
    width: 99.5%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.poweredBy
{
    display: block;
    overflow: hidden;
    width: 15.333%;
    height: 4.297%;
    position: absolute;
    bottom: 2%;
    left: 2.344%;
    background: url(../images/poweredBy.svg) no-repeat center;
    background-size: 100% 100%;
    z-index: 99999999;
}

.introduction-container-a,.introduction-container-b,
.introduction-container-c,.introduction-container-d
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.title-0-1
{
    display: block;
    overflow: hidden;
    width: 22.478%;
    height: 8.977%;
    position: absolute;
    top: 20.647%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/title-0-1.svg") no-repeat center;
    background-size: 100% 100%;
}
.text-0-1
{
    display: block;
    overflow: hidden;
    width: 68.808%;
    height: 16.34%;
    position: absolute;
    top: 35.907%;
    right: 14.91%;
    background: url("../images/text-0-1.svg") no-repeat center;
    background-size: 100% 100%;
}
.text-0-2
{
    display: block;
    overflow: hidden;
    width: 67.202%;
    height: 16.34%;
    position: absolute;
    top: 57.631%;
    right: 14.91%;
    background: url("../images/text-0-2.svg") no-repeat center;
    background-size: 100% 100%;
}
.title-1-1
{
    display: block;
    overflow: hidden;
    width: 17.202%;
    height: 5.027%;
    position: absolute;
    top: 20.11%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/title-1-1.svg") no-repeat center;
    background-size: 100% 100%;
}
.text-1-1
{
    display: block;
    overflow: hidden;
    width: 67.776%;
    height: 6.464%;
    position: absolute;
    top: 31.42%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/text-1-1.svg") no-repeat center;
    background-size: 100% 100%;
}
.title-2-1
{
    display: block;
    overflow: hidden;
    width: 36.124%;
    height: 11.491%;
    position: absolute;
    top: 17.595%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/title-2-1.svg") no-repeat center;
    background-size: 100% 100%;
}
.text-2-1
{
    display: block;
    overflow: hidden;
    width: 77.753%;
    height: 16.697%;
    position: absolute;
    top: 35.19%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/text-2-1.svg") no-repeat center;
    background-size: 100% 100%;
}

.title-3-1
{
    display: block;
    overflow: hidden;
    width: 20.07%;
    height: 11.311%;
    position: absolute;
    top: 16.34%;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../images/title-3-1.svg") no-repeat center;
    background-size: 100% 100%;
}
.example-table-container
{
    display: block;
    overflow: hidden;
    width: 91.63%;
    height: 55.297%;
    position: absolute;
    top: 32.676%;
    left: 0;
    right: 0;
    margin: auto;
    background: #ffffff;
    border-radius: 22px;
}
.example-table-row
{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 16.62%;
    border-bottom: 1px solid #cccccc;
}
.example-table-row:last-child
{
    border-bottom: 0;
}
.example-table-cell
{
    display: block;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-left: 1px solid #cccccc;
}
.example-table-cell:nth-child(1)
{
    width: 36.796%;
}
.example-table-cell:nth-child(2)
{
    width: 17.397%;
}
.example-table-cell:nth-child(3)
{
    width: 45.808%;
    border-left: 0;
}
/*========table example 1 start=========*/
.example-table-container .table-text-a
{
    background-image: url("../images/text-tabel-a-1.svg");
}
.example-table-container .table-text-b
{
    background-image: url("../images/text-tabel-b-1.svg");
}
.example-table-container .table-text-c
{
    background-image: url("../images/text-tabel-c-1.svg");
}
.example-table-container .table-text-d
{
    background-image: url("../images/text-tabel-a-2.svg");
}
.example-table-container .table-text-e
{
    background-image: url("../images/text-tabel-b-2.svg");
}
.example-table-container .table-text-f
{
    background-image: url("../images/text-tabel-c-2.svg");
}
.example-table-container .table-text-g
{
    background-image: url("../images/text-tabel-a-3.svg");
}
.example-table-container .table-text-h
{
    background-image: url("../images/text-tabel-b-3.svg");
}
.example-table-container .table-text-i
{
    background-image: url("../images/text-tabel-c-3.svg");
}
.example-table-container .table-text-j
{
    background-image: url("../images/text-tabel-a-4.svg");
}
.example-table-container .table-text-k
{
    background-image: url("../images/text-tabel-b-4.svg");
}
.example-table-container .table-text-l
{
    background-image: url("../images/text-tabel-c-4.svg");
}
.example-table-container .table-text-m
{
    background-image: url("../images/text-tabel-a-5.svg");
}
.example-table-container .table-text-n
{
    background-image: url("../images/text-tabel-b-5.svg");
}
.example-table-container .table-text-o
{
    background-image: url("../images/text-tabel-c-5.svg");
}
.example-table-container .table-text-p
{
    background-image: url("../images/text-tabel-a-6.svg");
}
.example-table-container .table-text-q
{
    background-image: url("../images/text-tabel-b-6.svg");
}
.example-table-container .table-text-r
{
    background-image: url("../images/text-tabel-c-6.svg");
}
/*========table example 1 end=========*/
